# EXTRAER DATAOS DE UNA BASE DE DATOS SQL EXTERNA MEDINATE HIVE_METASTORE Y JDBC

In [0]:
-- Primeramtne creamos en schema en hive_metastore
CREATE SCHEMA IF NOT EXISTS hive_metastore.bronze;

CREAMOS LA TABLA EXTERNA CON LA CONEXION JDBC PARA PODER CONSUNTAL LA BASE DE DATOS

In [0]:
CREATE TABLE IF NOT EXISTS hive_metastore.bronze.refunds
USING JDBC
OPTIONS(
   url "jdbc:mysql://mysql-server-12345678901234567890.mysql.database.azure.com:3306/databricks",
   dbtable "refunds",
   user "databricks",
   password "databricks1234567890"
);